<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <h1>Lista de productos</h1>

    <!-- Si existen los productos -->
     <div th:if="${not products.isEmpty()}">
        <div th:each="product : ${products}">
            <h2>
                <a th:href="@{/products/details/{id}(id=${product.id})}"
                th:text="${product.name}">
                </a>
            </h2>

            <!-- Muestro precio y la descipcion de los productos -->
             <ul>
                <li th:text="${product.description + ' - precio:' + product.price + '€ '}"></li>
                </li>
             </ul>
            
        </div>
     </div>

     <!-- Si no existen los usuarios -->
      <div th:if="${products.isEmpty()}">
        <p>Los productos no existen</p>
      </div>
</body>
</html>