<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <h1>Añadir un nuevo producto</h1>

    <form>  <!-- creo el formulario -->
        <label for="id">ID:</label>  <!-- Indico que se va a introducir un id -->
        <input type="number" id="id" th:field="${produc.id}">  <!-- Introducir id -->
        <br><br>

         <label for="name">Nombre:</label> 
        <input type="text" id="name" th:field="${produc.name}">  
        <br><br>

        <label for="price">precio:</label> 
        <input type="number" id="price" th:field="${produc.price}">  
        <br><br>

        <label for="description">descripcion:</label> 
        <input type="text" id="description" th:field="${produc.description}">  
        <br><br>

        <!-- creo el boton -->
         <button type="submit">Añadir producto</button>
    </form>
</body>
</html>